@{
    var username = Context.Session.GetString("Username");
    var avatar = Context.Session.GetString("Avatar");
    var login = Context.Session.GetString("Login");
}


<div class="header">
    <div class="burger" onclick="toggleSidebar()">☰</div>
    <div class="user-section">
        @if (!string.IsNullOrEmpty(username))
        {
            <img src="@(string.IsNullOrEmpty(avatar) ? Url.Content("~/images/default_avatar.jpg") : avatar)" alt="avatar" id="headerAvatar" class="user-avatar" onclick="chooseAvatar()">
            <div class="auth-buttons">
                <form method="post" asp-controller="Authorization" asp-action="Logout">
                    <button type="submit">Выйти из аккаунта</button>
                </form>
            </div>
        }
        else
        {
            <img src="~/images/default_avatar.jpg" alt="avatar" id="headerAvatar" class="user-avatar">
            <div class="auth-buttons">
                <button onclick="location.href='@Url.Action("Index", "Authorization")'">Войти</button>
                <button onclick="location.href='@Url.Action("Index", "Register")'">Зарегистрироваться</button>
            </div>
        }
    </div>
</div>

<input type="file" id="avatarInput" accept="image/*" style="display:none">


<script src="~/js/script_for_main_page.js"></script>