<link rel="stylesheet" href="~/css/not_authorized.css">
<div class="main_container">
    <div class="error-message">
        <h1>К сожалению вы не можете воспользоваться этим:(</h1>
        <p>Данный контент доступен только авторизованным пользователям. 
           Пожалуйста, авторизуйтесь, чтобы получить доступ к большему количеству функций MyClassroom</p>
    </div>
</div>